body {
    font-family: 'Fredoka One', cursive;
}

h1{
    font-family: 'Sonsie One', cursive;
    font-size: 3rem;
    padding-top: 1rem;
}

#shadow {
    color: antiquewhite;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b,
    10px 10px 0px #efa032,
    15px 15px 0px #46b59b,
    20px 20px 0px #017e7f;
}

p {
    color: deeppink;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    font-weight:bolder;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: deeppink;


}

@media only screen and (min-width: 1001px) and (max-width: 1400px){
    p {
        color: deeppink;
        font-family: 'Fredoka One', cursive;
        font-size: 1.2rem;
        font-weight:bolder;
        filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .hover:hover {
        transition: transform .2s;
        transform: scale(1.2);
    }

    .hover:hover p{
        transition: transform .2s;
        transform: scale(1.2);
        display: inline;
    }
    h1{
        font-family: 'Sonsie One', cursive;
        font-size: 6rem;
        padding-top: 2rem;
    }
    h2{
        color: white;
        font-size: 3rem;
    }
    .container {

        width: 100%;
        min-height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .15);
        margin: 0;

    }

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        width: 58% !important;
        font-family: 'Fredoka One', cursive;

    }

}
@media only screen and (min-width: 400px) and (max-width: 700px) {
    h1{
        font-family: 'Sonsie One', cursive;
        font-size: 5rem;
        padding-top: 2rem;
    }

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        min-height: 100%;
        font-family: 'Fredoka One', cursive;
        margin-top: 30rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 1000px) {
    p {
        color: deeppink;
        font-family: 'Fredoka One', cursive;
        font-size: 3rem;
        font-weight:bolder;
        filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: deeppink;


    }
}

@media only screen and (min-width: 1400px) {
    p {
        color: deeppink;
        font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
        font-weight:bolder;
        filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .hover:hover {
        transition: transform .2s;
        transform: scale(1.2);
    }

    .hover:hover p{
        transition: transform .2s;
        transform: scale(1.2);
        display: inline;
    }
    h1{
        font-family: 'Sonsie One', cursive;
        font-size: 6rem;
        padding-top: 2rem;
    }

    .container {
        width: 100%;
        min-height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .15);
        margin: 0;
    }

    body {
        font-family: 'Fredoka One', cursive;
    }
}