html {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1{

    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    font-weight:bolder;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: deeppink;
}

h2{
    font-weight: lighter;
    font-family: 'Fredoka One', cursive;
}


p {
    color: #2E2E2E;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

@media only screen and (min-width: 1001px) and (max-width: 1400px){
    h1{
        font-size: 3rem;
        padding-top: 2rem;
    }
    h2{

        font-size: 3rem;
    }
    .container {

        width: 100%;
        min-height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .15);
        margin: 0;

    }

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        width: 58% !important;

    }

}
@media only screen and (min-width: 400px) and (max-width: 700px) {
    h1{
        font-size: 3rem;
        padding-top: 2rem;
    }

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        min-height: 100%;
        margin-top: 30rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 1000px) {

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        width: 80% !important;

    }
    .container {
        width: 100%;
        min-height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .15);
        margin: 0;
    }

}

@media only screen and (min-width: 1400px) {
    h1{
        font-size: 3rem;
        padding-top: 2rem;
        color: darkcyan;
    }
}