html {
    min-height: 100%;
    margin: 0;
}

.container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    margin: 0;
}

body {
    background-image: url('../images/background.jpg');
    backdrop-filter: blur(15px) grayscale(45%);
    min-height: 100%;
}

h2{
    color: white;
    font-size: 2rem;
}

img {
    filter: drop-shadow(2px 2px rgba(0,0,0,0.5));
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
    h2{
        color: white;
        font-size: 2.5rem;
    }


    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        min-height: 100%;
        margin-top: 30rem;
    }
    .container {

        width: 100%;
        min-height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .15);
        margin: 0;

    }
}

@media only screen and (min-width: 1400px) {
    h2{
        color: white;
        font-size: 3rem;
    }

    body {
        background-image: url('../images/background.jpg');
        backdrop-filter: blur(15px) grayscale(45%);
        width: 58% !important;

    }


}

