html *
{
    font-family: "Helvetica Neue";
    line-height: 1.5;
}
.borders {
    border:  solid lightgrey 1px;
    padding: 0.5rem;
}
.thumbnail {
    width: 30%;
}
p {
    text-align: left;
    padding-right: 1rem;

}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border-top: solid lightgrey 1px;
    padding: 1rem;
    text-align: left;
}
button {
    padding: 1rem;
    background: deeppink;
    border: none;
    color: white;
    border-radius: 0.3rem;
    width: 8rem;
    font-size: 1rem;
}
.column {
    float: left;
    width: 95%;
    padding: 1rem;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.stretch {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.checkin {
    margin-bottom: 1rem;
}
.date {
    font-size: 0.5rem;
}
@media screen and (min-width: 768px) {
    .column {
        width: 45%;
    }
}